* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}
/* navigation */
nav {
	font-size: 2rem;
	text-transform: uppercase;
}
.navbar-toggler {
	font-size: 3rem;
}
.navbar-brand {
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: none;
}