* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}
.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}
.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 3.6rem;
	text-transform: uppercase;
}
/* nawigacja */

nav {
	font-size: 2rem;
	text-transform: uppercase;
}

.navbar-toggler {
	font-size: 3rem;
}

.navbar-brand {
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: none;
}

/* header */

header {
	font-size: 2rem;
}

.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url('../img/main-carousel-1.jpg');
}
.carousel-img-two {
	background-image: url('../img/main-carousel-2.jpg');
}
.carousel-img-three {
	background-image: url('../img/main-carousel-3.jpg');
}

/* home */
.home-boxes {
	padding: 5em 0;
}

.home-box i {
	font-size: 4rem;
}
.home-box h3 {
	font-size: 2.6rem;
}

/* ----- */

.home-passion {

	position: relative;
	height: 600px;
	width: 50%;
	background-image: url('../img/car-1-big.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
}

/* ----- */

.home-brand h3 {
	font-size: 3rem;
	font-weight: bold;
}

/* footer */
footer {
	font-size: 2.6rem;
}
/* about us */
.aboutus-hero {
	background-image: url(../img/aboutus/a2.jpg);
	background-position: bottom;
}

@media (min-width: 1400px) {
	.carousel-item {
		height: 600px;
	}

	.carousel-img-one {
		background-image: url('../img/main-carousel-1-hq.jpg');
	}
	.carousel-img-two {
		background-image: url('../img/main-carousel-2-hq.jpg');
	}
	.carousel-img-three {
		background-image: url('../img/main-carousel-3-hq.jpg');
	}
}
